/* cinemaAdmin.css */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  .admin {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  .tab a {
    float: left;
    cursor: pointer;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
  }
  .tab a:hover {
    background-color: #f0f0f0;
  }
  
  
  
  /* Tab styles */
  .tab {
    overflow: hidden;
    border-bottom: 2px solid #ccc;
  }
  
  /* .tab button {
    display: block;
    cursor: pointer;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    background-color: transparent;
    border: none;
  } */
  
  .tab button:hover {
    background-color: #f0f0f0;
  }
  
  .tab hr {
    margin: 0;
    border: none;
    border-bottom: 2px solid #ccc;
  }
  
  
  /* Container styles */
  #all-time {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  #all-time > div {
    margin-bottom: 10px;
  }
  
  /* Form styles */
  form {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  select,
  input[type="time"],
  input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  